<div class="categories">
  <h6>Categories</h6>
  <hr>
   <% categories.each do |category| %>
  <ul>
    <li>
      <%= link_to category.name, show_blogs_category_path(:category_slug => category.slug) %>
      <span class="badge"> <%= category.blogs.count %></span>      
    </li>
  </ul>
  <% end %>     
</div>

