 	<div class="footer">
      <h6>Copyright@2021- Blog Demo</h6>
      <%= link_to image_tag("facebook.png",style: "height:40px; width:40px;", class: "img-fluid"),"https://www.facebook.com/"  %>
      <%= link_to image_tag("email.png",style: "height:40px; width:40px;", class: "img-fluid"),root_path %>
      <%= link_to image_tag("linkedin.png",style: "height:40px; width:40px;", class: "img-fluid"),"https://www.linkedin.com/login"  %>    
    </div>