 	<div class="footer">
      <h6>Copyright@2021- Blog Demo</h6>
      <%= image_tag("facebook.png",style: "height:40px; width:40px;", class: "img-fluid")  %>
      <%= image_tag("email.png",style: "height:40px; width:40px;", class: "img-fluid") %>
      <%= image_tag("linkedin.png",style: "height:40px; width:40px;", class: "img-fluid")  %>    
    </div>