/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 */
 @import "trix/dist/trix";
@import "./actiontext.scss";

.header {
	padding: 5px;
	text-decoration: none;
	background-color:  #02297c ;
	a, b {
	  color: white;
		margin:5px;
	}
}

.navbar{
  background-color:#253055;
  padding:1rem;
  a{
    color: white;
  }
  h1{
    color:#fff;
    margin-left:2rem;
  }

}

.main{
  margin: 0rem 1.8rem;
  @media (max-width: 992px){
    margin: 0rem 1rem;  
  }
  @media(max-width:768px){
    margin: 0rem 1rem;    
  }
}

.blogsection{
 	height: 13rem;
 	background-color:#d6eaf8;
  background: image-url("bgimg.jpg") ;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
 	text-align: center;
 	padding: 3rem 5rem 8rem;
  h1{
    font-weight:800;
  }
 	@media(max-width:700px){
 	  h1{
      color: #253055;
      text-align: center; 
      font-weight:700;
      text-decoration:underline;

    }
 	}
}

.footer{
 	background-color:#253055;
 	padding: 1rem;
 	color: white;
 	text-align: center;
 	font-weight: 200;
  h6{
  color:white;
  }
}

.bloglist{
	display: flex;
 	justify-content: center;
  margin-top:3rem;
  @media(max-width:798px){
    display:block;
  }
 	.left{
 	  width: 80%;
 	  margin-right: 1rem;
    @media(max-width:798px){
      width: 100%;
    }
 	}
}
  
  
.newbutton{
  background-color: #253055;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 6px 10px;
  border-style: none;
  border-radius:5px;
  margin: 8px 5px;
}

.right{
  width: 25%;
  margin: .3rem;
  padding-top: -0.5rem;
  @media(max-width:798px){
   display:flex;
   margin: 0.3rem;
   width:100%;
   padding-top:20px;
  }
}

.searchbox{
  padding: 1rem 1rem;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid  #c5c5cb ;
  box-shadow: 1px 1px 3px 2px #d5d5da;
  @media(max-width:798px){
    display:none;
  }
}
.input{
  border: 1px solid #253055;
  margin-left: 3px;
  padding: 5px;
   
}

button{
  background-color: #253055;
  color: #fff;
  font-weight: bold;
  padding: 5px 8px;
  border-style: none;
  border-radius:5px;
  margin: 8px 5px;
}

.recentpost{
  margin-top: 30px;
  padding: 15px 0px 16px ;
  border-radius: 5px;
  border: 1px solid  #c5c5cb ;
  box-shadow: 1px 1px 3px 2px #d5d5da;
  @media(max-width:798px){
    width:50%;
    margin:10px;
  }
  table{
    margin:2px;
  }
  td{
    padding: 5px;
  }
}

h6{
 margin-left:20px;
 font-weight:bold;
 color:#253055;
}
.categories{
  margin-top: 30px;
  padding: 15px 0px 16px ;
  border-radius: 5px;
  border: 1px solid  #c5c5cb ;
  box-shadow: 1px 1px 3px 2px #d5d5da;
  @media(max-width:798px){
    width:50%;
    margin:10px;
  }
} 

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{ 
  margin: 1rem 1.5rem;
  border-bottom:1px solid silver;
}

.badge{
  background:#253055;
  color:white;
  font-weight:bold;
  font-size:0.8rem;
  padding:3px 8px;
  border-radius:10px;
  float:right;
}

.showblog{
  margin: 0rem 3rem;  
}

img{
  @media(max-width:998px){
   width:80%;
  }
}

.form{
  border: 1px solid  #bdc7d0;
  box-shadow: 2px 2px 10px 2px #eaedf0;
  border-radius:10px;
  width: 75%;
  margin:40px auto;
  padding:30px 30px;
  h2{
    color:#253055;
    text-decoration:underline;
    text-align: center;    
  }
  .formrow{
    display: flex;
  }
  .formlable{
    margin: 1px 8px;
    padding: 5px;
    color:#0f1c4b;    
    font-weight: bold;
    font-size: 19px;
  }
 .formfield{
    mardin:5px;
    width:80%;
  }
  .action{
    text-align:center;
    margin-top:10px;
  }
  .btn-submit{
    background-color: #253055;
    color: #fff;
    font-weight: bold;
    padding: 5px 12px;
    border-style: none;
    border-radius:5px;
    margin: 12px 12px;
  }
}

.categoryshow{
  margin:5rem;
  padding:20px;
  width:50%;
  box-shadow: 1px 1px 1px 1px #d5d5da;
}

.signin{
  border: 1px solid  #bdc7d0;
  box-shadow: 2px 2px 10px 2px #eaedf0;
  border-radius:10px;
  width: 55%;
  margin:40px auto;
  padding:30px 30px;
  .action{
    text-align:center;
  }
  .submit{
    background-color: #253055;
    width:80%;
    color: #fff;
    font-weight: bold;
    padding: 6px 15px;
    border-style: none;
    border-radius:5px;
    margin: 8px 15px 3px;
  }
}

.forgotlink{
  color:  #9d0018 ;
  font-weight:lighter;
}

.link{
  color: #253055; 
  font:600;
}

h1{
 color: #253055;
  text-align: center; 
  font-weight:700;
  text-decoration:underline;
}

h2{
  color: #253055;
  font-weight:700;
  @media(max-width:798px){
    font-size:25px;
  }
}

h5{
  color: #253055;
  padding: 10px 5px;
}

.heading{
  color: #253055;  
}

.icon{
  color:  #001b52;
  padding-right:8px;
}

p{
  font-size: 95%;
  line-height: 25px; 
  @media(max-width:798px){
    font-size: 80%;
    line-height: 15px; 
    float:left;  
  }
}

small{
  color:#253055;
}

span{
  margin:5px;
}

.btn{
  float: right;
  margin-bottom:5px;
}








