/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 */

.header {
	padding: 5px;
	text-decoration: none;
	background-color:  #02297c ;
	a, b {
	  color: white;
		margin:5px;
	}
}
.navbar{
  
  background-color:#253055;
  padding:1rem;
  a{
    color: white;
  }
  h1{
    color:#fff;
    margin-left:2rem;
  }
  ul{
    list-style:none;
    display:flex;
    color:white;
  }
}

.main{
   margin: 0rem 3rem;
   @media (max-width: 992px){
    margin: 0rem 1rem;  
   }
   @media(max-width:768px){
     margin: 0rem 1rem;    
    }
}


.blogsection{
 	height: 10rem;
 	background-color:  #d6eaf8;
 	text-align: center;
 	padding: 3rem 5rem 8rem;
 	h1{
 	 color: #253055;
    text-align: center; 
    font-weight:700;
    text-decoration:underline;
 	}
 	@media(max-width:700px){
 	  h1{
      color: #253055;
      text-align: center; 
      font-weight:700;
      text-decoration:underline;
    }
 	}
}

.footer{
 	background-color:#253055;
 	padding: 1rem;
 	color: white;
 	text-align: center;
 	font-weight: 200;
 
}

.bloglist{
	display: flex;
 	justify-content: center;
 	position: relative;
 	bottom:  5rem;

  @media(max-width:798px){
    display:block;
  }
  
 	.left{
 	  width: 75%;
 	  margin-right: .5rem;
     @media(max-width:798px){
      width: 100%;
    
    }
 	}
  
 	.blog{
  	padding: 20px 15px;
  	margin: 30px 15px;
  	background-color: #fff;
 	  border: 1px solid #656c84;
    border-radius: 5px;
    display: flex;
 	  box-shadow: 2px 2px 10px 2px #34495e;
    
 	}
  
  .image{
    margin-right:1.2rem;
    @media (max-width: 992px){
      width:50%; 
   }
    @media(max-width:798px){
      width:50%;
       margin-right:15px;
   }
  }
  h2{

    color: #253055;
    text-align: center; 

    @media(max-width:798px){
      font-size:25px;
    }
  }
  p{
    font-size: 1rem;
    line-height: 25px; 
    @media(max-width:798px){
      font-size: 80%;
      line-height: 15px; 
      float:left;
     
    }
  }
  .btn{
    float: right;
    padding: 0.5rem 1rem ;
    border: 1px solid #253055;
    background-color: #253055;
    border-radius: 2.5rem;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    @media(max-width:798px){
       font-size: 80%;
        padding: 0.5rem;
    }

  }
  .newbutton{
    background-color: #253055;
    color: #fff;
     font-size: 1.3rem;
    font-weight: bold;
    padding: 6px 10px;
    border-style: none;
    border-radius:5px;
    margin: 8px 5px;
  }
  .right{
    width: 25%;
    margin: .3rem;
    padding-top: .1rem;
    @media(max-width:798px){
       display:flex;
       margin: 0.3rem;
       width:100%;
       padding-top:20px;
    }

  }
  .searchbox{
    padding: 1rem 1rem;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #656c84;
    box-shadow: 2px 2px 15px 2px grey;
    @media(max-width:798px){
       display:none;

    }
  }
  .input{
    border: 1px solid #253055;
    margin-left: 3px;
    padding: 5px;
   
  }

  button{
    background-color: #253055;
    color: #fff;
    font-weight: bold;
    padding: 5px 8px;
    border-style: none;
    border-radius:5px;
    margin: 8px 5px;
  }
  .recentpost{
    margin-top: 30px;
    padding: 15px 0px 16px ;
    border-radius: 5px;
    border: 1px solid #656c84;
    box-shadow: 2px 2px 10px 2px grey;
    @media(max-width:798px){
      width:50%;
      margin:10px;

    }


  }
  .categories{
    margin-top: 30px;
    padding: 15px 0px 16px ;
    border-radius: 5px;
    border: 1px solid #656c84;
    box-shadow: 2px 2px 10px 2px grey;
    @media(max-width:798px){
      width:50%;
      margin:10px;
    }

  }  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{ 
    margin: 1rem 1.5rem;
    border-bottom:1px solid silver;
  }

  .badge{
    background:#253055;
    color:white;
    font-weight:bold;
    font-size:0.8rem;
    padding:3px 8px;
    border-radius:10px;
    float:right;
  }
}


.showblog{
  margin: 0rem 3rem;
  h2{
    color: #253055;
    font-weight:700;


    @media(max-width:798px){
      font-size:25px;
    }
  }

  img{
    border-radius:15px;
    @media(max-width:998px){
      width:80%;
    }
  }

  h5{
    color: #253055;
    padding: 10px 5px;
   
  }
}























.form{
  
  border: 1px solid  #bdc7d0;
  box-shadow: 2px 2px 10px 2px #eaedf0;
  border-radius:10px;
  width: 75%;
  margin:40px auto;
  padding:30px 30px;
  h2{
    color:#253055;
    text-decoration:underline;
    text-align: center;    
  }
  .formrow{
    display: flex;
  }
  .formlable{
    margin: 1px 8px;
    padding: 5px;
    color:#0f1c4b;    
    font-weight: bold;
    font-size: 19px;
  }

 .formfield{
    mardin:5px;
    width:80%;
 }
  .action{
    text-align:center;
    margin-top:10px;
  }
  .btn-submit{
  background-color: #253055;
    color: #fff;
    font-weight: bold;
    padding: 5px 12px;
    border-style: none;
    border-radius:5px;
    margin: 12px 12px;

  }
}



.categoryshow{
  margin:5rem;
  .backbtn{
    background-color: #253055;
    color: #fff;
    font-weight: bold;
    padding: 6px 10px;
    border-style: none;
    border-radius:5px;
    margin: 8px 5px;

  }
}

.signin{
  border: 1px solid  #bdc7d0;
  box-shadow: 2px 2px 10px 2px #eaedf0;
  border-radius:10px;
  width: 55%;
  margin:40px auto;
  padding:30px 30px;
  .action{
    text-align:center;
  }
  .submit{
    background-color: #253055;
    width:80%;
    color: #fff;
    font-weight: bold;
    padding: 6px 15px;
    border-style: none;
    border-radius:5px;
    margin: 8px 15px 3px;
  }


}
.forgotlink{
  color:  #9d0018 ;
  font-weight:lighter;
}
.link{
  color: #253055; 
  font:600;
}










