.btn{
  float: right;
  margin-bottom:5px;
}

#dashboard .col1 .card{
  width: 300px;
  margin-top: 50px;
  box-shadow: 0px 0px 2px grey;
}
#dashboard .admin-img{
   height: 150px;
   width: 150px;
   border-radius: 50%;  
}

#dashboard .alluser{
  margin-top: 50px;
  padding: 50px;
  box-shadow: 0px 0px 2px gray;
}
#dashboard .col2 .card{
   width: 300px;
   margin: 5px;
}

#dashboard .col3 .card{
  width: 300px;
  margin-left: auto;
  margin-top: 50px;
}

#dashboard .card{
background-color: #abe9cd;
background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);

}

.navbar{
  box-shadow: 0px 0px 5px grey;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}  
.navbar li{
  margin: 20px;
}
.navbar li{
  margin: 20px;
}

#c1 .card{

	background-color: #f8f9d2;
	background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);	
}
.card1{
	margin-top: 50px;
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #ffffff 74%);
}
.t1{
	margin-top: 50px;
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #ffffff 74%);
}

.container alluser{
	width: 500px;
}