<p id="notice"><%= notice %></p>
<div class="categoryshow">
	<h6> Category:</h6>
	<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) , class:"backbtn" %> |
<%= link_to 'Back', categories_path %>


	
</div>







